.git
.github
.changeset
node_modules
docs/node_modules
website/node_modules
plugin/.gradle
plugin/build
docs/.svelte-kit
docs/build
website/.svelte-kit
website/build
website/.vercel
website/.wrangler
dist
.DS_Store
npm-debug.log*
pnpm-debug.log*
yarn-error.log*
