@layer base, starlight, theme, components, utilities;

@import "@astrojs/starlight-tailwind";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@theme {
  /*
	Configure your Tailwind theme that will be used by Starlight.
	https://starlight.astro.build/guides/css-and-tailwind/#styling-starlight-with-tailwind
	*/
  /* --font-sans: InterVariable, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
  --font-sans: InterVariable;
  --font-sans--font-feature-settings: "cv01", "cv02", "cv03", "cv04", "cv05", "cv06", "cv07", "cv08", "cv09", "cv10", "cv11", "cv12", "cv13", "alt-1", "alt-3", "open-4", "open-6", "open-9", "lc-l-with-tail", "simplified-u", "alt-double-s", "uc-i-with-serif", "uc-g-with-spur", "single-story-a", "compact-lc-f", "compact-lc-t";
  --font-sans--font-feature-variant: "ss01", "ss02", "ss03", "ss04", "ss05", "ss06", "ss07", "ss08", "open-digits", "disambiguation", "disambiguation-except-zero", "round-quotes-and-commas", "square-punctuation", "square-quotes", "circled-characters", "squared-characters";

  --color-accent-50: var(--color-emerald-50);
  --color-accent-100: var(--color-emerald-100);
  --color-accent-200: oklch(0.696 0.17 162.48);
  --color-accent-300: var(--color-emerald-300);
  --color-accent-400: var(--color-emerald-400);
  --color-accent-500: var(--color-emerald-500);
  --color-accent-600: var(--color-emerald-600);
  --color-accent-700: var(--color-emerald-700);
  --color-accent-800: var(--color-emerald-800);
  --color-accent-900: var(--color-emerald-900);
  --color-accent-950: oklch(0.393 0.095 152.535);

  --color-gray-50: var(--color-neutral-50);
  --color-gray-100: var(--color-neutral-100);
  --color-gray-200: var(--color-neutral-200);
  --color-gray-300: var(--color-neutral-300);
  --color-gray-400: var(--color-neutral-400);
  --color-gray-500: var(--color-neutral-500);
  --color-gray-600: var(--color-neutral-600);
  --color-gray-700: var(--color-neutral-700);
  --color-gray-800: oklch(0.21 0.006 285.885);
  --color-gray-900: var(--color-neutral-950);
  --color-gray-950: var(--color-neutral-950);
}

/*
Add additional Tailwind styles to this file:
https://tailwindcss.com/docs/adding-custom-styles#using-custom-css
*/

@layer base {
  @font-face {
    font-family: InterVariable;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("../assets/fonts/InterVariable.woff2") format("woff2");
  }

  @font-face {
    font-family: InterVariable;
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url("../assets/fonts/InterVariable-Italic.woff2") format("woff2");
  }

  @font-feature-values InterVariable {
    @character-variant {
      cv01: 1;
      cv02: 2;
      cv03: 3;
      cv04: 4;
      cv05: 5;
      cv06: 6;
      cv07: 7;
      cv08: 8;
      cv09: 9;
      cv10: 10;
      cv11: 11;
      cv12: 12;
      cv13: 13;
      alt-1: 1; /* Alternate one */
      alt-3: 9; /* Flat-top three */
      open-4: 2; /* Open four */
      open-6: 3; /* Open six */
      open-9: 4; /* Open nine */
      lc-l-with-tail: 5; /* Lower-case L with tail */
      simplified-u: 6; /* Simplified u */
      alt-double-s: 7; /* Alternate German double s */
      uc-i-with-serif: 8; /* Upper-case i with serif */
      uc-g-with-spur: 10; /* Capital G with spur */
      single-story-a: 11; /* Single-story a */
      compact-lc-f: 12; /* Compact f */
      compact-lc-t: 13; /* Compact t */
    }
    @styleset {
      ss01: 1;
      ss02: 2;
      ss03: 3;
      ss04: 4;
      ss05: 5;
      ss06: 6;
      ss07: 7;
      ss08: 8;
      open-digits: 1; /* Open digits */
      disambiguation: 2; /* Disambiguation (with zero) */
      disambiguation-except-zero: 4; /* Disambiguation (no zero) */
      round-quotes-and-commas: 3; /* Round quotes &amp; commas */
      square-punctuation: 7; /* Square punctuation */
      square-quotes: 8; /* Square quotes */
      circled-characters: 5; /* Circled characters */
      squared-characters: 6; /* Squared characters */
    }
  }
}
