{
  "useTabs": false,
  "tabWidth": 2,
  "singleQuote": false,
  "trailingComma": "none",
  "bracketSameLine": true,
  "printWidth": 999999,
  "tailwindFunctions": ["clsx", "cn"],
  "plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"],
  "overrides": [{ "files": "*.astro", "options": { "parser": "astro" } }],
  "tailwindStylesheet": "./src/styles/global.css"
}
